@import "bower_components/photon/sass/photon";
@import "scroll";

// base styles
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

projects {
  width: 100%;
}

.projects li {
  /*&:active {
    background-color: $active-color;
    color: white;
  }*/

  // photon overrides
  &.list-group-item {
    font-size: 13px;
    
    input {
      color: white;
      font-weight: bold;
      background: transparent;
      border: 1px solid white;
    }
  }
  
  &.record .time {
    @extend .icon;
    @extend .icon-record;
    
    &:before {
      padding-right: 4px;
    }
  }
  
  /*&.active {
    @extend .icon;
    @extend .icon-play;
  }*/
}

// other stuff
.time {
  font-weight: bold;
}

.btn {
  cursor: pointer;
}

.form-inline {
  position: relative;
  button {
    position: absolute;
    right:0;
    top:0;
    bottom: 0;
    
    &.btn .icon {
      color: white;
      cursor: pointer;
    }
  }
  
  input.form-control {
    padding-right: 2em;
  }
}

.list-group-header {
  border-bottom: 1px solid $border-color;
}

.sidebar {
  min-width: 240px;
  max-width: 240px;
  overflow-y: scroll; // hackity-doo-dah
}

// settings page

settings {
  overflow-y: auto;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0);
  transition: all .1s;
  
  &.active {
    .settings {
      transform: translateY(0%);
    }
    background: rgba(0,0,0,0.25);
  }
}

.settings {
  transition: all .1s;
  transform: translateY(-100%);
  padding: 1em;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.25);
  
  .info {
    margin-top: 0;
  }

  .form-group {
    margin-bottom: 2em;
  }
}

table {
  font-size: 13px;
  h5 {
    margin: 0;
  }

  tr:active {
    color: $gray-color !important;
    background-color: transparent !important;
  }

  td {
    padding: 0.5em;
  }
}

.content {
  padding: 1em;
  
  ul {
    padding: 0;
    text-align: center;
  }
}
