@import "bower_components/photon/sass/photon";

// base styles
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

li {
  cursor: pointer;

  // photon overrides
  &.list-group-item {
    font-size: 13px;
  }
  
  &.record .time {
    @extend .icon;
    @extend .icon-record;
    
    &:before {
      padding-right: 4px;
    }
  }
  
  /*&.active {
    @extend .icon;
    @extend .icon-play;
  }*/
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

// other stuff
.time {
  font-weight: bold;
}

.btn {
  cursor: pointer;
}

.form-inline {
  position: relative;
  button {
    position: absolute;
    right:0;
    top:0;
    bottom: 0;
    
    &.btn .icon {
      color: white;
      cursor: pointer;
    }
  }
  
  input.form-control {
    padding-right: 2em;
  }
}

.list-group-header {
  border-bottom: 1px solid $border-color;
}

.sidebar {
  min-width: 240px;
  max-width: 240px;
}

// settings page

.settings {
  padding: 1em;
}

.info {
  margin-top: 0;
}

.form-group {
  margin-bottom: 2em;
}